@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./assets/background.png");
}

#aboutMe {
  background-color: #161616;
}
